#_city.toLowerCase().split(' ').join('')

extends layout

block content
  header Widget control panel
  .content
    .config

      div
        p City:
        #cities
          each _city in rc.cities
            input(type="radio" name="city" id=_city.toLowerCase().split(' ').join('') value=_city checked=(rc.city === _city ? true : false))
            label(for=_city.toLowerCase().split(' ').join(''))=_city
      div
        p Days to show:
        #days
          each _value in [1, 3, 7]
            input(type="radio" name="days" id='day'+_value value=_value checked=(rc.daysToShow === _value ? true : false))
            label(for='day'+_value)=_value

      div
        p Layout:
        #layout
          input(type="radio" name="layout" value='h' id='layout-h' checked=(rc.layout === 'h' ? true : false))
          label(for='layout-h') Horizontal
          input(type="radio" name="layout" value='v' id='layout-v' checked=(rc.layout === 'v' ? true : false))
          label(for='layout-v') Vertical

    .preview

      .widget
        p Widget preview:
        #weather-widget-container

      .init
        p Initialization script:
        pre
          code
            = '<script type="text/javascript">'
            =  '(function() {'
            =    'function async_load(){'
            =      'var s = document.createElement("script");'
            =      's.type = "text/javascript";'
            =      's.async = true;'
            =      's.src = "//127.0.0.1:3000/javascripts/weather-widget.js";'
            =      'var embedder = document.getElementById("weather-widget-container");'
            =      'embedder.parentNode.insertBefore(s, embedder);'
            =    '}'
            =    'if (window.attachEvent)'
            =      'window.attachEvent("onload", async_load);'
            =    'else'
            =      'window.addEventListener("load", async_load, false);'
            =  '})();'
            = '</script>'
            = '<div id="weather-widget-container"></div>'

      .code
        p Widget source code:
        pre#weather-widget-code