<div class='weather-widget-{{ layout }}'>
  <div class='weather-widget-header'>Weather in {{city}}</div>
  {{#forecast}}
    <div class='weather-widget-row-{{ layout }}'>
      <div class='weather-widget-day-info'> 
        {{& date }}
      </div>
      <div class="weather-widget-icon {{#weather}}icon{{icon}}{{/weather}}"></div>
      <div class='weather-widget-forecast'>
          <div class='weather-widget-night'>{{#decorate}}{{temp.night}}{{/decorate}}</div>
          <div class='weather-widget-morn'>{{#decorate}}{{temp.morn}}{{/decorate}}</div>
          <div class='weather-widget-day'>{{#decorate}}{{temp.day}}{{/decorate}}</div>
          <div class='weather-widget-eve'>{{#decorate}}{{temp.eve}}{{/decorate}}</div>
      </div>
    </div>
  {{/forecast}}
</div>