body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  font-weight: bold;
}

header {
  font-size: 20px;
  font-weight: bold;
  border-bottom: #81C6DD 2px solid;
}

.content {
  padding: 0 18px;
}

.config {
  width: 420px;
  display: inline-block;
}

.preview {
  width: 58%;
  display: inline-block;
  position: absolute;
}

.preview > .init{
  word-wrap: break-word;
}

.config > div {
  width: 100%;
  display: block;
}