#weather-widget-container {
  display: block;
  background: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.weather-widget-h {
  width: 600px;
}

.weather-widget-v {
  width: 255px;
}

.weather-widget-header {
  font-size: 15px;
  color: gray;
  margin-bottom: 10px;
}

.weather-widget-row-h {
  display: inline-block;
  margin: 0 5px 0 5px;
  width: 70px;
}

.weather-widget-row-h > .weather-widget-day-info {
  width: 100%;
}

.weather-widget-row-v div {
  display: inline-block;
  vertical-align: middle;
}

.weather-widget-day-info {
  width: 25px;
}

.weather-widget-day-info > div{
  display: block;
  text-align: center;
}

.weather-widget-day-info .weather-widget-day-number {
  font-weight: bold;
  font-size: large;
}

.weather-widget-day-info .weather-widget-month {
  color: gray;
}

.weather-widget-icon {
  height: 50px;
  width: 50px;
}

.weather-widget-row-h .weather-widget-icon {
  width: auto;
  margin-left: 10px;
}

.weather-widget-forecast {
  width: 67%;
  font-family: monospace;
}

.weather-widget-row-h .weather-widget-forecast {
  width: 100%;
}

.weather-widget-forecast > div {
  width: 25%;
  float: left;
  font-size: large;
  line-height: 25px;
  text-align: center;
}

.weather-widget-row-h .weather-widget-forecast > div {
  font-size: small;
  text-align: center;
}

.weather-widget-morn {
  border-bottom: 2px solid #f6ecaf;
}

.weather-widget-day {
  border-bottom: 2px solid #81C6DD;
}

.weather-widget-eve {
  border-bottom: 2px solid #f38467;
}

.weather-widget-night {
  border-bottom: 2px solid #7F7F7F;
}

span.warm {
  color: #FF5A5A;
}

span.cold {
  color: #4B9CC3;
}

/* Icons http://openweathermap.org/img/w/ */

.icon01d {
  background: white url(http://openweathermap.org/img/w/01d.png) no-repeat;
}

.icon02d {
  background: white url(http://openweathermap.org/img/w/02d.png) no-repeat;
}

.icon03d {
  background: white url(http://openweathermap.org/img/w/03d.png) no-repeat;
}

.icon04d {
  background: white url(http://openweathermap.org/img/w/04d.png) no-repeat;
}

.icon05d {
  background: white url(http://openweathermap.org/img/w/05d.png) no-repeat;
}

.icon06d {
  background: white url(http://openweathermap.org/img/w/06d.png) no-repeat;
}

.icon07d {
  background: white url(http://openweathermap.org/img/w/07d.png) no-repeat;
}

.icon08d {
  background: white url(http://openweathermap.org/img/w/08d.png) no-repeat;
}

.icon09d {
  background: white url(http://openweathermap.org/img/w/09d.png) no-repeat;
}

.icon10d {
  background: white url(http://openweathermap.org/img/w/10d.png) no-repeat;
}

.icon11d {
  background: white url(http://openweathermap.org/img/w/11d.png) no-repeat;
}

.icon13d {
  background: white url(http://openweathermap.org/img/w/13d.png) no-repeat;
}

.icon50d {
  background: white url(http://openweathermap.org/img/w/50d.png) no-repeat;
}

.icon01n {
  background: white url(http://openweathermap.org/img/w/01n.png) no-repeat;
}

.icon02n {
  background: white url(http://openweathermap.org/img/w/02n.png) no-repeat;
}

.icon03n {
  background: white url(http://openweathermap.org/img/w/03n.png) no-repeat;
}

.icon04n {
  background: white url(http://openweathermap.org/img/w/04n.png) no-repeat;
}

.icon05n {
  background: white url(http://openweathermap.org/img/w/05n.png) no-repeat;
}

.icon06n {
  background: white url(http://openweathermap.org/img/w/06n.png) no-repeat;
}

.icon07n {
  background: white url(http://openweathermap.org/img/w/07n.png) no-repeat;
}

.icon08n {
  background: white url(http://openweathermap.org/img/w/08n.png) no-repeat;
}

.icon09n {
  background: white url(http://openweathermap.org/img/w/09n.png) no-repeat;
}

.icon10n {
  background: white url(http://openweathermap.org/img/w/10n.png) no-repeat;
}

.icon11n {
  background: white url(http://openweathermap.org/img/w/11n.png) no-repeat;
}

.icon13n {
  background: white url(http://openweathermap.org/img/w/13n.png) no-repeat;
}

.icon50n {
  background: white url(http://openweathermap.org/img/w/50n.png) no-repeat;
}